/*Page*/
.page {
    min-height: 100%;
}


/*Header*/
.page-header {
    background-color:gray;
    color:white;
    height: 50px;
}


/*Navs*/
.page-navbar {
    height: 100%;
    margin-left:15px;
    margin-right:15px;
}
.page-navbar > ul {
    display:table;
    height: 100%;
}

.page-navbar > ul > li {
    display: table-cell;
    vertical-align:middle;
}

.page-navbar.page-navbar-right {
   float:right; 
}
.page-navbar.page-navbar-left {
   float:left; 
}


/*Sections*/
.page-section.page-section-builder > article {
    width:50%;
    margin:auto;
    margin-top:50px;
    border-radius:5px;
    padding:15px;
}

.expression {
    padding-right: 50px;
    border-bottom: 1px solid #a0a0a0;
    position: relative;
}

.expression > input {
    width: 100%;
    background-color: transparent;
    border: none;
    font-size: 24px;
    box-sizing: border-box;
    line-height: 60px;
    
}
.expression > .expression-backspace {
    font-size:32px;
    position: absolute;
    right: 0;
    top:0;
    text-align: right;
    line-height: 60px;
    width: 50px;
}


.page-section.page-section-display .page-section-display-header {
    text-align: right;
    padding:15px;
}

/*Footer*/
.page-footer {
    background-color:gray;
    height: 150px;
    box-sizing:border-box; 
}


